<div th:fragment="modal">
    <div class="modal fade" role="dialog" id="c-sup-modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="pmTitle">
                        <h3>Nhà cung cấp</h3>
                    </div>
                    <button type="submit" class="btn btn-primary" style="position: absolute; right: 40px;" form="c-sform"><span>Lưu</span></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
				
                <form action="#" enctype="multipart/form-data" method="post" id="c-sform">
                    <div class="modal-body">
                        <div class="steps-container">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tên NCC: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="c-sname" type="text" placeholder="Tên nhà cung cấp sản phẩm" oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')" oninput="setCustomValidity('')" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Số điện thoại: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="c-sphone" type="text" placeholder="Số điện thoại" oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')" oninput="setCustomValidity('')" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Địa chỉ: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="c-address" type="text" placeholder="Địa chỉ">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


    <div class="modal fade" role="dialog" id="e-sup-modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h3>Thông tin sản phẩm</h3>
                    </div>
                    <button type="submit" class="btn btn-primary" style="position: absolute; right: 40px;" form="e-sform"><span>Lưu</span></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="e-sform" enctype="multipart/form-data">
                	<div style="display: flex; flex-direction: row-reverse;background-color: #fff; padding: 12px; align-items: center;">
                    	<div style="position: absolute; left: 15px">
                             <span>Tạo lúc: </span>
                             <span  id="updated-val"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="steps-container">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tên NCC: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="e-sname" type="text" placeholder="Tên nhà cung cấp sản phẩm" oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')" oninput="setCustomValidity('')" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Số điện thoại: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="e-sphone" type="text" placeholder="Số điện thoại" oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')" oninput="setCustomValidity('')" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Địa chỉ: </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="e-address" type="text" placeholder="Địa chỉ">
                                </div>
                            </div>                 
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>