<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link rel="shortcut icon" href="#" />
    <link th:rel="stylesheet" th:href="@{/css/style.css} " />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
    <th:block th:include="~{fragments/assets :: assets}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>



<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- HEADER AND SIDEBAR -->
        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- PAGE CONTENT -->
        <div class="content-wrapper">
            <div class="d-flex flex-row">
                <div class="box-order-status">
                    <div style="font-size: 16px;">
                        <div>Tổng số tiền:
                            <span style="font-weight: 500;">0 ₫</span>
                        </div>
                        <div>COD:
                            <span style="color: rgb(235, 87, 87); font-weight: 500;">0 ₫</span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="status-info" style="background: rgb(0, 162, 174); margin-right: 8px; flex: 1 1 0%; cursor: pointer;">Mới</div>
                        <span class="order-action-button" style="margin-right: 8px;">
                            <button type="button" class="btn btn-outline-primary" style="height: 100%; border: 1px solid rgb(0, 162, 174); color: rgb(0, 162, 174);">
                                <i class="fa-solid fa-copy"></i>
                                <span>Tạo đơn trùng lặp</span>
                            </button>
                        </span>
                        <span class="order-action-button" style="margin-right: 8px;">
                            <button type="button" class="btn btn-warning" style="font-size: 14px; height: 100%; background: rgb(250, 173, 20); border-color: rgb(250, 173, 20);">
                                <i class="fa-solid fa-print"></i>
                                <span>In</span>
                            </button>
                        </span>
                        <span class="order-action-button">
                            <button type="button" class="btn btn-primary" style="font-size: 14px; height: 100%; background: rgb(14, 86, 255); border-color: rgb(13, 26, 217);">
                                <i class="fa-solid fa-floppy-disk"></i>
                                <span>Lưu</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div th:insert="orders/new-order-form :: neworder"></div>
            
        </div>
        <th:block th:include="~{fragments/modal :: toast-modal}"></th:block>

        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <!-- SCRIPT -->
   <script th:src="@{/js/order.js}"></script>
</body>

</html>