<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <th:block th:include="fragments/assets :: assets"></th:block>
</head>



<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- HEADER AND SIDEBAR -->
        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- PAGE CONTENT -->
        <div class="content-wrapper">
            <!-- START TOOLBAR -->
            <div class="tools-container">
                <div>
                    <div style="display: inline-block;">
                        <button type="button" class="btn-tools" id="btnCreate">
                            <span><i class="fa-solid fa-plus"></i></span>
                        </button>
                    </div>

                    <button type="button" class="btn-tools" id="btnClear">
                        <i class="fa-solid fa-rotate"></i>
                        <span>Tải lại</span>
                    </button>

                    <div id="action-tools" style="display: inline-block;">
                        <span id="import_excel" style="display: inline-block;">
                            <div style="display: inline-block;">
                                <button type="button" class="btn-tools">
                                    <i class="fa-solid fa-file-import"></i>
                                    <span>Nhập excel</span>
                                </button>
                            </div>
                        </span>

                        <span id="product_category">
                            <div style="display: inline-block;">
                                <button type="button" class="btn-tools">
                                    <i class="fa-solid fa-tags"></i>
                                    <span>Danh mục SP</span>
                                </button>
                            </div>
                        </span>

                        <!-- <span id="export_excel" style="display: inline-block;">
              <button type="button" class="btn-tools">
                <i class="fa-solid fa-file-export"></i>
                <span>Xuất excel</span>
              </button>
            </span> -->

                        <span id="multi_delete" style="display: inline-block;">
                            <div style="display: inline-block;">
                                <button type="button" class="btn-tools">
                                    <i class="fa-solid fa-trash"></i>
                                    <span>Xóa</span>
                                </button>
                            </div>
                        </span>
                    </div>

                    <div class="filter">
                        <div>
                            <button id="btn-filter" tabindex="0" type="button" class="btn-tools">
                                <i class="fa-solid fa-filter"></i>
                                <span>Thêm lọc</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TOOLBAR -->

            <div th:if="${message!=null}" class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="p-toast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Thông báo</strong>
                        <small></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        [[${message}]]
                    </div>
                </div>
            </div>

            <div class="table-container">
                <table class="table table-hover table-responsive-xl" id="productTable">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                            <th>ID</th>
                            <th>ĐVVC</th>
                            <th>Khách hàng</th>
                            <th>SĐT</th>
                            <th>Ghi chú</th>
                            <th>Địa chỉ</th>
                            <th>Sản phẩm</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>

                            <!-- <th>Actions</th> -->
                        </tr>
                    </thead>
                    <!-- <tbody>
            <tr th:each="product : ${products}">
              <td></td>
              <td>[[${product.productId}]]</td>
              <td>[[${product.productName}]]</td>
              <td>[[${product.cateId}]]</td>
              <td>
                <a th:if="${product.isSell == true}" class="fa-regular fa-square-check"
                  th:href="@{'/products/' + ${product.productId} + '/isSell/false'}" title="Disable this product"></a>
                <a th:if="${product.isSell == false}" class="fa-regular fa-square icon-dark"
                  th:href="@{'/products/' + ${product.productId} + '/isSell/true'}" title="Enable this product"></a>
              </td>
              <td>
                <button  data-bs-toggle="modal" 
                th:href="@{'/products/api/'+${product.productId}}"
                title="Edit this product" 
                class="fa-regular fa-pen-to-square icon-dark btn-edit">
                </button>
                &nbsp;
                
                <button th:productId="${product.productId}" th:productName="${product.productName}" id="btnDelete"
                  title="Delete this product" class="fa-regular fa-trash-can icon-dark btn-delete"></button>
              </td>
            </tr>
          </tbody> -->
                </table>
            </div>
        </div>

        <th:block th:include="fragments/modal :: toast-modal"></th:block>

        <div th:replace="products/product-form :: modal"></div>
        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>

     <!-- BEGIN PAGA BACKDROPS-->
     <div class="sidenav-backdrop backdrop"></div>
     <div class="preloader-backdrop">
         <div class="page-preloader">Loading</div>
     </div>
     <!-- END PAGA BACKDROPS-->
    <!-- SCRIPT -->
    <script th:src="@{/js/order.js}"></script>
</body>

</html>