<div th:fragment="ep-modal">
    <div class="modal fade" role="dialog" id="ep-create-modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        Thông tin chi tiết phiếu xuất kho
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="#" enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="m-box">
                                    <div class="form-group">
                                        <span class="form-title">Kho hàng:<span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Kho hàng" class="form-control" type="text"
                                            >
                                    </div>
    
                                    <div class="form-group">
                                        <span class="form-title">Nhà cung cấp:</span>
                                        <input placeholder="Nha cung cap" class="form-control" type="text"
                                            >
                                    </div>
    
                                    <div class="form-group">
                                        <span class="form-title">Tiền vận chuyển:</span>
                                        <div class="box-input-group">
                                            <input class="form-control" role="spinbutton" aria-valuenow="0" autocomplete="off" step="1000" value="0">
                                            <span class="input-group-addon">₫</span>
                                        </div>
                                    </div>
                                    
    
                                    <div class="form-group">
                                        <span class="form-title">Ngày tạo phiếu:</span>
                                        <input type="text" class="form-control" id="date1">
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <span class="form-title">Ghi chú:</span>
                                        <textarea rows="4" placeholder="Ghi chú" autosize="[object Object]"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="m-box">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Nhập tên, mã sản phẩm">
                                        <div class="input-group-btn">
                                            <button class="btn btn-success" type="button">Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="m-box" style="margin-top: 1 rem;">
                                    <div class="table-container">
                                        <table class="table table-hover table-responsive-xl">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên SP</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Mã SP</th>
                                                    <th>Tồn kho</th>
                                                    <th>Giá xuất</th>
                                                    <th>Số lượng</th>
                                                    <th>Tổng tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody style="display: block; min-height: 360px;"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Số lượng</th>
                                                    <th>Tổng tiền</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    	<button type="button" class="btn btn-primary" style="margin-right: 10px; width: 120px;" data-toggle="popover" id="statusBtn">
                            Mới
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn-ep-submit">
                            <span>Lưu</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>


   
</div>