<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <link th:rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <th:block th:include="fragments/assets :: assets"></th:block>
</head>



<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- HEADER AND SIDEBAR -->
        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- PAGE CONTENT -->
        <div class="content-wrapper">
            <!-- START TOOLBAR -->
            <div class="tools-container">
                <div class="d-flex flex-row justify-content-between">
                    <div id="action-tools" style="display: inline-flex;">  
                        <button type="button" class="btn-tools" id="btnCreate">
                            <span><i class="fa-solid fa-plus"></i></span>
                        </button>
                    </div>
    
                    <div class="filter">
                        <div>
                            <button id="cq-btn-filter" tabindex="0" type="button" class="btn-tools">
                                <i class="fa-solid fa-filter"></i>
                                <span>Thêm lọc</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TOOLBAR -->


            <div class="table-container">
                <table class="table table-hover table-responsive-xl" id="epTable">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="ep-selectAll" /></th>
                            <th>Id</th>
                            <th>Người tạo</th>
                            <th>Ghi chú</th>
                            <th>Kho hàng</th>
                            <th>Tổng hàng</th>
                            <th>Tổng số tiền</th>
                            <th>Ngày tạo phiếu</th>
                            <th>Xuất kho lúc</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <th:block th:include="fragments/modal :: toast-modal"></th:block>
        <div th:replace="warehouse/export-form :: ep-modal"></div>
        <!-- FOOTER -->
        <div th:replace="fragments/setting :: setting-modal"></div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>

     <!-- BEGIN PAGA BACKDROPS-->
     <div class="sidenav-backdrop backdrop"></div>
     <div class="preloader-backdrop">
         <div class="page-preloader">Loading</div>
     </div>
     <!-- END PAGA BACKDROPS-->
    <!-- SCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        
            const wareData = /*[[${wareData}]]*/ 'default';
            const supData = /*[[${supData}]]*/ 'default';
            const user = /*[[${user}]]*/ 'default';
            var itemData = /*[[${itemData}]]*/ 'default';

        /*]]>*/
    </script>
    <script th:src="@{/js/exportproduct.js}"></script>
</body>

</html>