<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>[[${pageTitle}]]</title>
        <!-- GLOBAL MAINLY STYLES-->
        <link th:href="@{/img/favicon.ico}" rel="icon">
        <th:block th:insert="~{fragments/assets :: assets}"></th:block>
    </head>
    <body class="fixed-navbar">
        <div
            class="page-wrapper">
            <!-- HEADER AND SIDEBAR -->
            <div th:replace="~{fragments/header.html :: header}"></div>
            <div th:replace="~{fragments/sidebar.html :: sidebar}"></div>
            <!-- PAGE CONTENT -->
            <div class="content-wrapper2">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ibox" style="height: 700px; overflow-y: scroll;">
                            <div class="ibox-head">

                                <div style="display: inline-block;">
                                    <!-- <div th:unless="${#lists.contains(user.roles, 'ROLE_WAREHOUSE_ADMIN')}" style="display: inline-block;">
                                        <button type="button" class="btn btn-primary" disabled>
                                            <span>
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                    </div> -->
                                    <div th:if="${#lists.contains(user.roles, 'ROLE_WAREHOUSE_ADMIN')}" style="display: inline-block;">
                                        <button type="button" class="btn btn-primary" id="btn-create">
                                            <span>
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" id="wh-search" onkeyup="searchWh()" class="form-control" placeholder="Tìm kiếm">
                                </div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <ul class="media-list" id="ul-list"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="ibox">
                            <div class="ibox-head">
                                <ul class="nav nav-tabs tabs-line" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-bs-target="#tab-1" data-bs-toggle="tab" aria-expanded="true">
                                            <i class="fa-brands fa-product-hunt"></i>
                                            Sản phẩm</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-target="#tab-2" data-bs-toggle="tab" aria-expanded="false">
                                            <i class="fa-solid fa-sliders"></i>
                                            Cấu hình</a>
                                    </li>
                                </ul>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <a class="fullscreen-link">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="tab-1" aria-expanded="true">
                                        <table class="table table-striped table-hover" id="whpTable">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Id</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Sku</th>
                                                    <th>Tồn kho</th>
                                                    <th>Giá nhập</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="tab-2" aria-expanded="false">
                                        <form id="e-wform">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label>Tên kho hàng:</label>
                                                    <input class="form-control" id="e-wname" type="text" placeholder="Tên kho hàng" required>
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <label>Số điện thoại:</label>
                                                    <input class="form-control" id="e-wphone" type="text" placeholder="Số điện thoại" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Địa chỉ kho hàng:</label>
                                                <input class="form-control" id="e-waddress" type="text" placeholder="Nhập địa chỉ kho hàng" required>
                                            </div>
                                            <div class="form-group">
                                                <div th:if="${#lists.contains(user.roles, 'ROLE_WAREHOUSE_ADMIN')}">
                                                    <button class="btn btn-primary" type="submit">Lưu</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <th:block th:insert="~{fragments/modal :: toast-modal}"></th:block>

            <div th:replace="~{warehouse/warehouse-form.html :: modal}"></div>
            <!-- FOOTER -->
            <div th:replace="~{fragments/setting :: setting-modal}"></div>
            <div th:replace="~{fragments/footer.html :: footer}"></div>
        </div>

         <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
        <div class="preloader-backdrop">
            <div class="page-preloader">Loading</div>
        </div>
        <!-- END PAGA BACKDROPS-->
        <!-- SCRIPT -->
        <script th:src="@{/js/warehouse.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
                const user = /*[[${user}]]*/ 'default';
            /*]]>*/
        </script>
    </body>

</html>
