<div th:fragment="modal">
    <div class="modal fade" role="dialog" id="product-modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="pmTitle">
                        <h3>Thông tin sản phẩm</h3>
                    </div>
                    <button type="submit" class="btn btn-primary" style="position: absolute; right: 40px;" form="c-pform"><span>Lưu</span></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
				
                <form action="#" enctype="multipart/form-data" method="post" id="c-pform">
                    <div class="modal-body">
                        <div class="steps-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-title">Mã sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Mã sản phẩm, barcode" class="form-control" type="text" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')"
 												oninput="setCustomValidity('')" id="c-barcode" autocomplete="off" required>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Tên sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Tên sản phẩm" class="form-control" type="text" id="c-pname" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộcbuộc')"
 												oninput="setCustomValidity('')" autocomplete="off" required>
                                    </div>

                                    <div class="form-group row">
                                        <span class="col-sm-4 form-title">Khối lượng (gram):</span>
                                        <div class="col-sm-8">
                                        	<input class="form-control" role="combobox" type="number" id="c-weight" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộcbuộc')"
 												oninput="setCustomValidity('')" autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="form-group ware-c-group">
                                        <span class="form-title">Kho hàng:</span>
                                        <select class="form-control" id="c-warehouse" role="combobox" multiple></select>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <div class="form-title">Link nhập hàng:</div>
                                            <div>
                                                <input placeholder="Enter để thêm link sản phẩm" class="form-control"
                                                    type="text" autocomplete="off" id="c-link">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group cate-c-group">
                                        <span class="form-title">Danh mục:</span>
                                        <select class="form-control" id="c-categories" multiple></select>
                                    </div>

                                    <div class="form-group sup-c-group">
                                        <span class="form-title">Nhà cung cấp:</span>
                                        <select id="c-supplier" class="form-control" multiple></select>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Ghi chú:</span>
                                        <textarea rows="4" placeholder="Ghi chú SP" autocomplete="off" id="c-note"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-container">
                            <table class="table table-hover table-responsive-xl" id="c-tb">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="border-right: 1px solid #ccc;">Kho hàng</th>
                                        <th>Trạng thái</th>
                                        <!-- <th>Hình ảnh</th> -->
                                        <th>Giá nhập</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


    <div class="modal fade" role="dialog" id="product-modal-edit">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h3>Thông tin sản phẩm</h3>
                    </div>
                    <button type="submit" class="btn btn-primary" style="position: absolute; right: 40px;" form="pme-form"><span>Lưu</span></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="pme-form" enctype="multipart/form-data" method="put">
                	<div style="display: flex; flex-direction: row-reverse;background-color: #fff; padding: 12px; align-items: center;">
                    	<div style="position: absolute; left: 15px">
                             <span>Cập nhật: </span>
                             <span  id="created-val"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="steps-container">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <span class="form-title">Mã sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Mã sản phẩm, barcode" class="form-control" type="text" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')"
 												oninput="setCustomValidity('')" id="e-barcode" autocomplete="off" required>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Tên sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Tên sản phẩm" class="form-control" type="text" id="e-pname" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộcbuộc')"
 												oninput="setCustomValidity('')" autocomplete="off" required>
                                    </div>

                                    <div class="form-group row">
                                        <span class="col-sm-4 form-title">Khối lượng (gram):</span>
                                        <div class="col-sm-8">
                                        	<input class="form-control" role="combobox" type="number" id="e-weight" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộcbuộc')"
 												oninput="setCustomValidity('')" autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="form-group ware-e-group">
                                        <span class="form-title">Kho hàng:</span>
                                        <select class="form-control" id="e-warehouse" role="combobox" multiple></select>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <div class="form-title">Link nhập hàng:</div>
                                            <div>
                                                <input placeholder="Enter để thêm link sản phẩm" class="form-control"
                                                    type="text" value="" autocomplete="off" id="e-link">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group cate-e-group">
                                        <span class="form-title">Danh mục:</span>
                                        <select class="form-control" id="e-categories" multiple></select>
                                    </div>

                                    <div class="form-group sup-e-group">
                                        <span class="form-title">Nhà cung cấp:</span>
                                        <select id="e-supplier" class="form-control" multiple></select>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Ghi chú:</span>
                                        <textarea rows="4" placeholder="Ghi chú SP" autocomplete="off" id="e-note"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                    	<div class="table-container">
                            <table class="table table-hover table-responsive-xl" id="e-tb">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="border-right: 1px solid #ccc;">Kho hàng</th>
                                        <th>Trạng thái</th>
                                        <!-- <th>Hình ảnh</th> -->
                                        <th>Giá nhập</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>