<div th:fragment="modal">
    <div class="modal fade" role="dialog" id="product-modal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="pmTitle">
                        <h3>Thông tin sản phẩm</h3>
                    </div>
                    <button type="submit" class="btn btn-primary" style="position: absolute; right: 40px;" form="c-pform"><span>Lưu</span></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
				
                <form action="#" enctype="multipart/form-data" method="post" id="c-pform">
                    <div class="modal-body">
                        <div class="steps-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-title">Mã sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Mã sản phẩm, barcode" class="form-control" type="text" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộc')"
 												oninput="setCustomValidity('')" id="c-barcode" required>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Tên sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Tên sản phẩm" class="form-control" type="text" id="c-pname" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộcbuộc')"
 												oninput="setCustomValidity('')" required>
                                    </div>

                                    <div class="form-group row">
                                        <span class="col-sm-4 form-title">Khối lượng (gram):</span>
                                        <div class="col-sm-8">
                                        	<input class="form-control" role="combobox" type="number" id="c-weight" 
                                        		oninvalid="this.setCustomValidity('Hãy nhập đầy đủ thông tin bắt buộcbuộc')"
 												oninput="setCustomValidity('')" required>
                                        </div>
                                    </div>

                                    <div class="form-group ware-c-group">
                                        <span class="form-title">Kho hàng:</span>
                                        <select class="form-control" id="c-warehouse" role="combobox" multiple></select>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <div class="form-title">Link nhập hàng:</div>
                                            <div>
                                                <input placeholder="Enter để thêm link sản phẩm" class="form-control"
                                                    type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group cate-c-group">
                                        <span class="form-title">Danh mục:</span>
                                        <select class="form-control" id="c-categories" multiple></select>
                                        <div id="c-result"></div>
                                    </div>

                                    <div class="form-group sup-c-group">
                                        <span class="form-title">Nhà cung cấp:</span>
                                        <select id="c-supplier" class="form-control" role="combobox"></select>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Ghi chú:</span>
                                        <textarea rows="4" placeholder="Ghi chú SP" autosize="[object Object]"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-container">
                                <table class="table table-hover table-responsive-xl" id="c-tb">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="border-right: 1px solid #ccc;">Kho hàng</th>
                                        	<th></th>
                                            <th>Hình ảnh</th>
                                            <th>Giá nhập</th>
                                            <th>Giá bán</th>
                                            <th>Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </form>

            </div>
        </div>

    </div>


    <div class="modal fade" role="dialog" id="product-modal-edit">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h3>Thông tin sản phẩm</h3>
                    </div>
                    <button type="submit" class="btn btn-primary" style="position: absolute; right: 40px;" form="pme-form"><span>Lưu</span></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="pme-form" enctype="multipart/form-data" method="put">
                	<div style="display: flex; flex-direction: row-reverse;background-color: #fff; padding: 12px; align-items: center;">
                    	<div style="position: absolute; left: 15px">
                             <span>Tạo lúc: </span>
                             <span  id="created-val"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="steps-container">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <span class="form-title">Mã sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Ma sản phẩm" class="form-control" type="text" id="e-barcode"
                                            th:value="*{barcode}">
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Tên sản phẩm <span
                                                style="color: rgb(245, 34, 45); margin-right: 4px;">*</span></span>
                                        <input placeholder="Tên sản phẩm" class="form-control" type="text" id="e-pname"
                                            th:value="*{productName}">
                                    </div>

                                    <div class="form-group row">
                                        <span class="col-sm-4 form-title">Khối lượng (gram):</span>
                                        <div class="col-sm-8">
                                        	<input class="form-control" id="e-weight" role="combobox" type="number">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Kho hàng:</span>
                                        <input type="search" autocomplete="off" class="form-control" role="combobox">
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <div class="form-title">Link nhập hàng:</div>
                                            <div>
                                                <input placeholder="Enter để thêm link sản phẩm" class="form-control"
                                                    type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <span class="form-title">Danh mục:</span>
                                        <input type="text" class="form-control" id="e-categories">
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Nhà cung cấp:</span>
                                        <input type="search" class="form-control" role="combobox">
                                    </div>

                                    <div class="form-group">
                                        <span class="form-title">Ghi chú:</span>
                                        <textarea rows="4" placeholder="Ghi chú SP" autosize="[object Object]"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                    	<div class="table-container">
                                <table class="table table-hover table-responsive-xl">
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th>Hình ảnh</th>
                                            <th>Giá nhập</th>
                                            <th>Giá bán</th>
                                            <th>Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>
                                        		<label class="switch"><input class="issell" type="checkbox" checked>
                                        			<span class="slider round"></span>
                                        			</label>
                                        	</td>
                                            <td>1</td>
                                            <td><input class="form-control" id="e-pprice" type="text"></td>
                                            <td><input class="form-control" id="e-sprice" type="text"></td>
                                            <td><input class="form-control" id="e-qty" type="number" disabled></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>