<th:block th:fragment="toast-modal">
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="heading">Xác nhận</h5>
                </div>
                <div class="modal-body">
                    <i class="fa-solid fa-triangle-exclamation mb-4" style="color: #f00; text-shadow: 1px 1px 1px #ccc;
                    font-size: 3em;"></i>
                    <p id="confirmText"></p>
                </div>
                <div class="modal-footer flex-center">
                    <a type="button"  class="btn btn-info" id="yesBtn">Yes</a>
                    <a type="button" class="btn btn-outline-info waves-effect" data-bs-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1056">
        <div id="toast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3000">
          <div class="toast-header">
            <i class="fa-solid fa-check" style="font-size: 1.5rem; color: rgb(0, 255, 21)"></i>
            <strong class="me-auto"><h6>Thông báo</h6></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <p id="toast-content"></p>
          </div>
        </div>
    </div>
</th:block>