<nav th:fragment="sidebar" class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <ul class="side-menu metismenu">
            <li>
                <a th:href="@{/overview}"><i class="sidebar-item-icon fa fa-th-large"></i>
                    <span class="nav-label">TỔNG QUAN</span>
                </a>
            </li>
            <li class="heading">CHỨC NĂNG</li>
            <li>
                <a th:href="@{/order/new}">
                    <i class="sidebar-item-icon fa-solid fa-shop"></i>
                    <span class="nav-label">Bán hàng</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="nav-link">
                    <i class="sidebar-item-icon fa-solid fa-file-lines"></i>
                    <span class="nav-label">Đơn hàng</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level">
                    <li>
                        <a th:href="@{/order}">Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="exchange.html">Trả hàng</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;" class="nav-link">
                    <i class="sidebar-item-icon fa-solid fa-bookmark"></i>
                    <span class="nav-label">Sản phẩm</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level">
                    <li>
                        <a th:href="@{/products}">Quản lý sản phẩm</a>
                    </li>
                    <li>
                        <a th:href="@{/supplier}">Nhà cung cấp sản phẩm</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;"><i class="sidebar-item-icon fa-solid fa-warehouse"></i>
                    <span class="nav-label">Kho hàng</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level">
                    <li>
                        <a th:href="@{/warehouse}">Quản lý kho hàng</a>
                    </li>
                    <li>
                        <a th:href="@{/checkquantity}">Kiểm hàng</a>
                    </li>
                    <li>
                        <a th:href="@{/import}">Nhập hàng</a>
                    </li>
                    <li>
                        <a th:href="@{/export}">Xuất hàng</a>
                    </li>
                    <li>
                        <a href="#">Chuyển kho</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;"><i class="sidebar-item-icon fa-solid fa-chart-simple"></i>
                    <span class="nav-label">Thống kê</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level">
                    <li>
                        <a href="charts_flot.html">Thống kê đơn hàng</a>
                    </li>
                    <li>
                        <a href="charts_morris.html">Thống kê doanh số</a>
                    </li>
                </ul>
            </li>

            <li>
                <a th:href="@{/customer}"><i class="sidebar-item-icon fa-solid fa-users"></i>
                    <span class="nav-label">Khách hàng</span>
                </a>
            </li>
            <li class="heading">KHÁC</li>

            <!-- <li>
	            <div class="admin-block d-flex">
	                <div>
	                    <img src="/img/admin-avatar.png" width="32px" />
	                </div>
	            </div>
	            <ul class="dropdown-menu dropdown-menu-right">
	                <a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>Hồ sơ/a>
	                <a class="dropdown-item" href="javascript:;"><i class="fa fa-support"></i>Thay đổi mật khẩu</a>
	                <li class="dropdown-divider"></li>
	                <a class="dropdown-item" href="login.html"><i class="fa fa-power-off"></i>Đăng xuất</a>
	            </ul>
	        </li> -->
            <li>
                <a href="icons.html"><i class="sidebar-item-icon fa-solid fa-gear"></i>
                    <span class="nav-label">Cấu hình</span>
                </a>
            </li>
            <li>
                <a href="icons.html"><i class="sidebar-item-icon fa-solid fa-right-from-bracket"></i>
                    <span class="nav-label">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
</nav>