<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>[[${pageTitle}]]</title>
        <!-- GLOBAL MAINLY STYLES-->
        <link th:href="@{/img/favicon.ico}" rel="icon">
        <th:block th:insert="~{fragments/assets :: assets}"></th:block>
    </head>
    <body class="fixed-navbar">
        <div
            class="page-wrapper">
            <!-- HEADER AND SIDEBAR -->
            <div th:replace="~{fragments/header.html :: header}"></div>
            <div th:replace="~{fragments/sidebar.html :: sidebar}"></div>
            <!-- PAGE CONTENT -->
            <div class="content-wrapper2">
                <div class="row">
                    <div class="col-md-5">
                        <div class="ibox" style="height: 700px; overflow-y: scroll;">
                            <div class="ibox-head">

                                <div style="display: inline-block;">
                                    <button type="button" class="btn btn-primary" id="btn-create">
                                        <span>
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="has-search" style="width: 90%;">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" id="wh-search" onkeyup="search()" class="form-control" placeholder="Tìm kiếm">
                                </div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <ul class="media-list" id="ul-list"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="ibox">
                            <div class="ibox-head">
                                <ul class="nav nav-tabs tabs-line" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-bs-target="#tab-1" data-bs-toggle="tab" aria-expanded="true">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Chỉnh sửa</a>
                                    </li>
                                </ul>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <a class="fullscreen-link">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <div class="tab-content">
                                    <div class="" id="tab-1" aria-expanded="true">
                                        <div class="ibox" style="border: 1px solid #ededed;">
                                            <div class="ibox-head" style="background-color: #efefef;">
                                                <div class="ibox-title">THÔNG TIN CƠ BẢN</div>
                                            </div>
                                            <div class="ibox-body">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 form-group">
                                                            <label>Họ và tên:</label>
                                                            <input class="form-control" id="e-fullname" type="text" placeholder="Họ và tên" disabled>
                                                        </div>
                                                        <div class="col-sm-6 form-group">
                                                            <label>Số điện thoại:</label>
                                                            <input class="form-control" id="e-phone" type="text" placeholder="Số điện thoại" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="ibox" style="border: 1px solid #ededed;">
                                            <div class="ibox-head" style="background-color: #efefef;">
                                                <div class="ibox-title">THAY ĐỔI MẬT KHẨU</div>
                                            </div>
                                            <div class="ibox-body">
                                                <div class="form-group">
                                                    <form id="e-form">
                                                        <div class="d-flex flex-row justify-content-between align-items-end">
                                                            <div class="form-group col-sm-6">
                                                                <label>Mật khẩu:</label>
                                                                <input class="form-control" id="e-password" type="text" placeholder="Nhập mật khẩu mới">
                                                            </div>
                                                            <div class="form-group">
                                                                <button class="btn btn-primary" type="submit">Lưu</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ibox" style="border: 1px solid #ededed;">
                                            <div class="ibox-head" style="background-color: #efefef;">
                                                <div class="ibox-title">QUYỀN NHÂN VIÊN</div>
                                            </div>
                                            <div class="ibox-body">
                                                <div class="form-group">
                                                    <form id="e2-form">
                                                        <div class="d-flex flex-row">
                                                            <div class="col-sm-11 form-group">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="sales_emp">
                                                                    <label class="form-check-label" for="sales_emp">
                                                                        <ul>
                                                                            <li>Tạo mới, xem, chỉnh sửa đơn hàng.</li>
                                                                            <li>Tạo mới, xem, chỉnh sửa thông tin khách hàng.</li>
                                                                        </ul>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="sales_adm">
                                                                    <label class="form-check-label" for="sales_adm">
                                                                        <ul>
                                                                            <li>Duyệt đơn hàng.</li>
                                                                            <li>Xóa thông tin khách hàng.</li>
                                                                        </ul>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="ware_emp">
                                                                    <label class="form-check-label" for="ware_emp">
                                                                        <ul>
                                                                            <li>Tạo mới, xem, chỉnh sửa phiếu kiểm-xuất-nhập hàng </li>
                                                                            <li>Xem, chỉnh sửa thông tin kho hàng</li>
                                                                        </ul>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="ware_adm">
                                                                    <label class="form-check-label" for="ware_adm">
                                                                        <ul>
                                                                            <li>Duyệt phiếu kiểm-xuất-nhập hàng.</li>
                                                                            <li>Tạo, xóa, kho hàng</li>
                                                                            <li>Tạo, chỉnh sửa, xóa sản phẩm</li>
                                                                            <li>Tạo, chỉnh sửa, xóa NCC sản phẩm</li>
                                                                        </ul>
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="deli_man">
                                                                    <label class="form-check-label" for="deli_man">
                                                                        <ul>
                                                                            <li>Nhân viên vận chuyển</li>
                                                                        </ul>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex col-sm-1 justify-content-end">
                                                                <div class="form-group">
                                                                    <button class="btn btn-primary" type="submit" id="roleBtn">Lưu</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <th:block th:insert="~{fragments/modal :: toast-modal}"></th:block>

            <div th:replace="~{users/employee-form.html :: modal}"></div>
            <!-- FOOTER -->
            <div th:replace="~{fragments/setting :: setting-modal}"></div>
            <div th:replace="~{fragments/footer.html :: footer}"></div>
        </div>

         <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
        <div class="preloader-backdrop">
            <div class="page-preloader">Loading</div>
        </div>
        <!-- END PAGA BACKDROPS-->
        <!-- SCRIPT -->
        <script th:src="@{/js/employee.js}"></script>
    </body>

</html>
