<div class="container px-1 py-5">
    <div class="row">
        <div class="col">
            <div class="text-center mb-5">
                <span class="fw-bold fs-3">PHIẾU NHẬP KHO</span>
                <br>
                <span class="fst-italic">Mã phiếu: #
                    <span>${obj.id}</span>
                </span>
            </div>
            <div class="row gx-5 pb-1">
                <div class="col">
                    <span class="fw-bold">Người tạo phiếu:
                    </span>
                    <span>${obj.employee.username}</span>
                </div>
                <div class="col">
                    <span class="fw-bold">Ngày tạo phiếu:
                    </span>
                    <span></span>
                </div>
            </div>
            <div class="row gx-5 pb-1">
                <div class="col">
                    <span class="fw-bold">Kho hàng:
                    </span>
                    <span>${obj.warehouse.name}</span>
                </div>
                <div class="col">
                    <span class="fw-bold">Sđt:
                    </span>
                    <span>${obj.warehouse.phone}</span>
                </div>
            </div>
            <div class="row pb-4">
                <span class="fw-bold">Địa chỉ:
                </span>
                <span>${obj.warehouse.address}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered border-primary">
                    <thead class="table-active">
                        <tr>
                            <td>
                                <strong>#</strong>
                            </td>
                            <td class="text-center">
                                <strong>Tên sản phẩm</strong>
                            </td>
                            <td class="text-center">
                                <strong>Barcode</strong>
                            </td>
                            <td class="text-center">
                                <strong>Giá nhập</strong>
                            </td>
                            <td class="text-center">
                                <strong>Số lượng</strong>
                            </td>
                            <td class="text-center">
                                <strong>Thành tiền</strong>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="text-center">CHieu lejk dlaks dklsd</td>
                            <td class="text-center">$10.99</td>
                            <td class="text-center">$10.99</td>
                            <td class="text-center">$10.99</td>
                            <td class="text-center">$10.99</td>
                        </tr>
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="3" class="text-center fw-bold">Phí vận chuyển</td>
                            <td></td>
                            <td></td>
                            <td class="text-center">@twitter</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center fw-bold">Tổng cộng</td>
                            <td></td>
                            <td></td>
                            <td class="text-center">@twitter</td>
                        </tr>
                    </tfooter>
                </table>
            </div>
            <div class="row mb-4">
                <span>Tổng tiền bằng chữ:
                </span>
                <span>${numberToWords(obj.totalMoney)}</span>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="col-sm-4 text-end">
                    <span>Ngày 11 tháng 02 năm 2023</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <span class="fw-bold">Người lập phiếu</span>
                    <br>
                    <span class="fst-italic">(Ký họ tên)</span>
                </div>
                <div class="col-sm-3 text-center">
                    <span class="fw-bold">Người lập phiếu</span>
                    <br>
                    <span class="fst-italic">(Ký họ tên)</span>
                </div>

                <div class="col-sm-3 text-center">
                    <span class="fw-bold">Người lập phiếu</span>
                    <br>
                    <span class="fst-italic">(Ký họ tên)</span>
                </div>

                <div class="col-sm-3 text-center">
                    <span class="fw-bold">Người lập phiếu</span>
                    <br>
                    <span class="fst-italic">(Ký họ tên)</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer-info-container">
    <div class="close-box"><i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i></div>
    <div class="customer-profile">
        <div class="customer-profile-info">
            <span><i class="fa-solid fa-user"></i>
                Nguyen Van A</span>
            <span><i class="fa-solid fa-phone"></i>
                01923484398</span>
        </div>
        <div class="customer-profile-dob">
            <span>20/11/2000</span>
        </div>
    </div>
    <hr>
    <div class="customer-info-history">
        <div>
            <span>
                Tong: <span>1000</span> d
                </soan>
        </div>
        <div>
            <span>
                Thanh cong:
                <span>2</span>/
                <span>2</span>
            </span>
        </div>
    </div>
</div>