<div th:fragment="test" class="ant-tabs-content-holder">
    <div class="ant-tabs-content ant-tabs-content-top">
        <div role="tabpanel" tabindex="-1" aria-hidden="true" style="display: none;" class="ant-tabs-tabpane" id="rc-tabs-0-panel-form-a89e-7f3f-2941-57ca-6cc2-0a89-0ac3" aria-labelledby="rc-tabs-0-tab-form-a89e-7f3f-2941-57ca-6cc2-0a89-0ac3"></div>
        <div id="rc-tabs-0" role="tabpanel" tabindex="0" aria-labelledby="rc-tabs-0" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active">
            <div>
                <div class="formbox-container">
                    <div class="boxes-model" style="height: calc(100vh - 162px);">
                        <div class="box-row-order">
                            <div class="col-100">
                                <div class="box-row-order">
                                    <div class="col-65">
                                        <div class="box-row-order">
                                            <div class="col-100">
                                                <section>
                                                    <div class="box-order-title flex-space-between">
                                                        <div class="box-meta">
                                                            <div class="box-icon">
                                                                
                                                            </div>            
                                                            <div>Sản phẩm</div>
                                                        </div>
                                                        <div style="display: flex;">
                                                            <div class="ant-select order-select ant-select-single ant-select-allow-clear ant-select-show-arrow ant-select-show-search" style="width: fit-content; max-width: 180px; min-width: 110px;">
                                                                <div class="ant-select-selector">
                                                                    <span class="ant-select-selection-search">
                                                                        <input type="search" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_10_list" aria-autocomplete="list" aria-controls="rc_select_10_list" aria-activedescendant="rc_select_10_list_0" value="" id="rc_select_10">
                                                                    </span>
                                                                    <span class="ant-select-selection-item" title="Kho mặc định">Kho mặc định</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="box-order-product">
                                                        <div class=" order-item-container" id="order-items" style="border: 1px solid rgb(217, 217, 217);">
                                                            <div id="virtualize-list">
                                                                <!-- <div class="order-empty-text">Giỏ hàng trống</div> -->
                                                            </div>
                                                        </div>
                                                        <div style="width: 100%; margin-top: 12px;"></div>
                                                    </div>
                                                </section>
                                                <div class="resize">
                                                    <div style="flex: 1 1 0%;">
                                                        <section>
                                                            <div class="box-order-title flex-space-between">
                                                                <div>
                                                                    <div class="box-meta">
                                                                        <div class="box-icon"></div>
                                                                        <div>Thanh toán</div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex-space-between">
                                                                    <div style="width: 32px; height: 32px; border: 1px solid rgb(217, 217, 217); background: rgb(255, 255, 255); cursor: pointer; margin-left: 10px; display: flex; align-items: center; justify-content: center; border-radius: 2px;"><span role="img" aria-label="more" class="anticon anticon-more"><svg viewBox="64 64 896 896" focusable="false" data-icon="more" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                            </svg></span></div>
                                                                </div>
                                                            </div>
                                                            <div class="line"></div>
                                                            <div class="box-payment" id="box-payment-info">
                                                                <div>
                                                                    <div class="box-input-number-wrapper  ship-choice" style="cursor: text;">
                                                                        <span class="ant-input-prefix">
                                                                            <span class="pos-placeholder">Phí vận chuyển</span>
                                                                        </span>
                                                                        <div class="ant-input-number input-format-number" style="border: 0px;">
                                                                            <div class="ant-input-number-input-wrap">
                                                                                <input role="spinbutton" aria-valuemin="-9007199254740991" aria-valuemax="9007199254740991" aria-valuenow="0" class="ant-input-number-input" autocomplete="off" max="9007199254740991" min="-9007199254740991" step="100" id="2fb0-3b9b-8a20-ae3c-9987-166b-361e" value="0">
                                                                            </div>
                                                                        </div>&nbsp;<span class="ant-input-suffix">₫</span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="box-input-number-wrapper  " style="cursor: text;">
                                                                        <span class="ant-input-prefix">
                                                                            <span class="pos-placeholder">Giảm giá đơn hàng</span>
                                                                        </span>
                                                                        <div class="ant-input-number input-format-number" style="border: 0px;">
                                                                            <div class="ant-input-number-input-wrap">
                                                                                <input role="spinbutton" aria-valuemin="-9007199254740991" aria-valuemax="9007199254740991" aria-valuenow="0" class="ant-input-number-input" autocomplete="off" max="9007199254740991" min="-9007199254740991" step="100" id="5785-4d42-326a-7c44-f24f-24f2-9ecb" value="0">
                                                                            </div>
                                                                        </div>&nbsp;<span class="ant-input-suffix">₫</span>
                                                                    </div>
                                                                </div>
                                                                <div class="input-transfer-money">
                                                                    <div class="box-input-number-wrapper  " style="cursor: text;">
                                                                        <span class="ant-input-prefix">
                                                                            <span class="pos-placeholder">Tiền chuyển khoản</span>
                                                                        </span>
                                                                        <div class="ant-input-number input-format-number" style="border: 0px;">
                                                                            <div class="ant-input-number-input-wrap">
                                                                                <input role="spinbutton" aria-valuemin="-9007199254740991" aria-valuemax="9007199254740991" aria-valuenow="0" class="ant-input-number-input" autocomplete="off" max="9007199254740991" min="-9007199254740991" step="100" id="ff8c-3290-3dc1-4271-3bf2-aae0-7400" value="0">
                                                                            </div>
                                                                        </div>&nbsp;<span class="ant-input-suffix">₫</span>
                                                                    </div>
                                                                </div>
                                                                
                                                              
                                                                <div data-show="true" class="ant-alert ant-alert-info ant-alert-no-icon" role="alert">
                                                                    <div class="ant-alert-content">
                                                                        <div class="ant-alert-message">
                                                                            <div class="box-monney-wrapper">
                                                                                <div class="box-money-section s1">
                                                                                    <div class="box-monney"><span class="title">Tổng số tiền</span><span class="fw-500" id="final-price">0 ₫</span></div>
                                                                                    <div class="box-monney"><span class="title" style="display: flex; align-items: center;">Giảm giá&nbsp;</span><span class="fw-500 green">0 ₫</span></div>
                                                                                </div>
                                                                                <div class="box-money-section s3">
                                                                                    <div class="box-monney"><span class="title">Sau giảm giá</span><span class="fw-500">0 ₫</span></div>
                                                                                    <div class="box-monney"><span class="title">Cần thanh toán</span><span class="fw-500 blue">0 ₫</span></div>
                                                                                    <div class="box-monney"><span class="title">Đã thanh toán</span><span class="fw-500">0 ₫</span></div>
                                                                                </div>
                                                                                <div class="box-monney" style="padding-bottom: 0px;"><span class="title">Còn thiếu</span><span class="fw-500 red" id="remain-price">0 ₫</span></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ant-alert-description"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="note">
                                                        <section>
                                                            <div class="ant-tabs ant-tabs-top box-note-tabs">
                                                                <div role="tablist" class="ant-tabs-nav">
                                                                    <div class="ant-tabs-nav-wrap">
                                                                        <div class="ant-tabs-nav-list" style="transform: translate(0px, 0px);">
                                                                            <div class="ant-tabs-tab ant-tabs-tab-active">
                                                                                <div role="tab" aria-selected="true" class="ant-tabs-tab-btn" tabindex="0" id="rc-tabs-2-tab-internal" aria-controls="rc-tabs-2-panel-internal">Nội bộ</div>
                                                                            </div>
                                                                            <div class="ant-tabs-tab">
                                                                                <div role="tab" aria-selected="false" class="ant-tabs-tab-btn" tabindex="0" id="rc-tabs-2-tab-forprinting" aria-controls="rc-tabs-2-panel-forprinting">Để in</div>
                                                                            </div>
                                                                            <div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated" style="left: 0px; width: 75px;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ant-tabs-nav-operations ant-tabs-nav-operations-hidden"><button type="button" class="ant-tabs-nav-more" tabindex="-1" aria-hidden="true" aria-haspopup="listbox" aria-controls="rc-tabs-2-more-popup" id="rc-tabs-2-more" aria-expanded="false" style="visibility: hidden; order: 1;"><span role="img" aria-label="ellipsis" class="anticon anticon-ellipsis"><svg viewBox="64 64 896 896" focusable="false" data-icon="ellipsis" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                                </svg></span></button></div>
                                                                </div>
                                                                <div class="ant-tabs-content-holder">
                                                                    <div class="ant-tabs-content ant-tabs-content-top">
                                                                        <div role="tabpanel" tabindex="0" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active" id="rc-tabs-2-panel-internal" aria-labelledby="rc-tabs-2-tab-internal" style="">
                                                                            <div style="width: 100%; position: relative; padding: 16px;">
                                                                                <div class="ant-mentions" style="min-height: 122px;"><textarea placeholder="Viết ghi chú" id="note" rows="1" class="rc-textarea" style="height: 134px; min-height: 134px; max-height: 904px; overflow-y: hidden; resize: none;"></textarea></div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <div role="tabpanel" tabindex="-1" aria-hidden="true" class="ant-tabs-tabpane" id="rc-tabs-2-panel-forprinting" aria-labelledby="rc-tabs-2-tab-forprinting" style="display: none;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="line"></div>
                                                   
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-35">
                                        <section class="box-status">
                                            <div id="formbox-status">
                                                <div class="box-order-title flex-space-between">
                                                    <div class="box-meta">
                                                        <div class="box-icon"><span role="img" aria-label="star" class="anticon anticon-star" style="font-size: 18px;"><svg viewBox="64 64 896 896" focusable="false" data-icon="star" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                </svg></span></div>
                                                        <div>Thông tin</div>
                                                    </div>
                                                    <div class="flex-space-between"></div>
                                                </div>
                                            </div>
                                            <div style="padding: 4px 16px 16px;">
                                                <div id="processor-body">
                                                    <div class="processor" id="processor-insert-at">
                                                        <div>Tạo lúc: </div>
                                                        <div><span><span style="cursor: pointer; color: rgb(9, 109, 217); font-weight: 500;">13/12/2022 03:00</span></span></div>
                                                    </div>
                                                    <div class="processor" id="processor-assign-seller">
                                                        <div id="title-assign-seller">NV xử lý:&nbsp;</div>
                                                        <div style="display: flex;">
                                                            <div class="processor-seller">
                                                                <div class="div-user" style="max-width: 345px;">
                                                                    
                                                                    <div class="user-name">PNB</div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div>
                                                    <div class="ant-dropdown-trigger order-tag add-tag"><span role="img" aria-label="tag" class="anticon anticon-tag"><svg viewBox="64 64 896 896" focusable="false" data-icon="tag" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                            </svg></span><span style="margin-left: 8px;">Thêm thẻ</span></div>
                                                </div>
                                            </div>
                                           
                                        </section>
                                        <section>
                                            <div class="box-order-title flex-space-between">
                                                <div>
                                                    <div class="box-meta">
                                                        <div class="box-icon"><span role="img" aria-label="user" class="anticon anticon-user" style="font-size: 18px;"><svg viewBox="64 64 896 896" focusable="false" data-icon="user" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                </svg></span></div>
                                                        <div>Khách hàng</div>
                                                    </div>
                                                </div>
                                                <div style="display: flex;"></div>
                                            </div>
                                            <div class="box-customer">
                                                
                                                <div type="flex" class="ant-row ant-row-space-between box-row" style="margin-top: 12px;">
                                                    <div class="ant-col customer-name-responsive ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8" style="display: flex; align-items: center;">
                                                        <div class="ant-select ant-select-auto-complete global-search ant-select-single ant-select-customize-input ant-select-show-search" style="width: 100%;">
                                                            <div class="ant-select-selector"><span class="ant-select-selection-search"><span class="ant-input-affix-wrapper box-input ant-select-selection-search-input"><input autocomplete="off" placeholder="Tên khách hàng" type="search" class="ant-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_12_list" aria-autocomplete="list" aria-controls="rc_select_12_list" aria-activedescendant="rc_select_12_list_0" value="" id="rc_select_12"><span class="ant-input-suffix"><span class="hide-parent"></span></span></span></span><span class="ant-select-selection-placeholder"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="ant-col ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8" style="padding-left: 8px;">
                                                        <div class="ant-select ant-select-auto-complete global-search input-phone-number ant-select-single ant-select-customize-input ant-select-show-search" style="width: 100%;">
                                                            <div class="ant-select-selector"><span class="ant-select-selection-search"><span class="ant-input-affix-wrapper box-input ant-select-selection-search-input"><input autocomplete="off" class="ant-input" placeholder="Số điện thoại" type="search" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_13_list" aria-autocomplete="list" aria-controls="rc_select_13_list" aria-activedescendant="rc_select_13_list_0" value="" id="rc_select_13"><span class="ant-input-suffix"><span></span></span></span></span><span class="ant-select-selection-placeholder"></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="ant-col ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8" style="padding-left: 8px;">
                                                        <div class="ant-picker box-input ant-picker-disabled" style="width: 100%;">
                                                            <div class="ant-picker-input"><input disabled="" readonly="" placeholder="Ngày sinh" title="" size="12" autocomplete="off" value=""><span class="ant-picker-suffix"><span role="img" aria-label="calendar" class="anticon anticon-calendar"><svg viewBox="64 64 896 896" focusable="false" data-icon="calendar" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                        </svg></span></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="customer-info ">
                                                    <div data-show="true" class="ant-alert ant-alert-info ant-alert-no-icon" role="alert" style="position: relative; padding: 6px; text-align: center;">
                                                        <div class="ant-alert-content">
                                                            <div class="ant-alert-message">
                                                                <div><span role="img" aria-label="info-circle" class="anticon anticon-info-circle"><svg viewBox="64 64 896 896" focusable="false" data-icon="info-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                        </svg></span>&nbsp;Chưa có thông tin</div>
                                                            </div>
                                                            <div class="ant-alert-description"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section>
                                            <div class="box-order-title flex-space-between">
                                                <div class="box-meta">
                                                    <div class="box-icon"><span role="img" aria-label="environment" class="anticon anticon-environment" style="font-size: 18px;"><svg viewBox="64 64 896 896" focusable="false" data-icon="environment" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                            </svg></span></div>
                                                    <div>Nhận hàng</div>
                                                </div>
                                                <div class="ant-select ant-select-single ant-select-allow-clear ant-select-show-arrow ant-select-show-search" style="width: 170px;">
                                                    <div class="ant-select-selector"><span class="ant-select-selection-search"><input type="search" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_14_list" aria-autocomplete="list" aria-controls="rc_select_14_list" aria-activedescendant="rc_select_14_list_0" value="" id="rc_select_14"></span><span class="ant-select-selection-placeholder">Chọn địa chỉ</span></div><span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;"><span role="img" aria-label="down" class="anticon anticon-down ant-select-suffix"><svg viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                            </svg></span></span>
                                                </div>
                                            </div>
                                            <div class="box-receiver-info">
                                                <div class="flex-space-between"><span>Dự kiến nhận hàng&nbsp;&nbsp;</span>
                                                    <div class="ant-picker ant-calendar-picker-custom">
                                                        <div class="ant-picker-input"><input readonly="" placeholder="Chọn ngày" title="" size="18" autocomplete="off" value=""><span class="ant-picker-suffix"><span role="img" aria-label="calendar" class="anticon anticon-calendar"><svg viewBox="64 64 896 896" focusable="false" data-icon="calendar" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                    </svg></span></span></div>
                                                    </div>
                                                </div>
                                                <div style="margin-top: 12px;">
                                                    <div type="flex" class="ant-row ant-row-space-between box-row" style="margin-top: 5px;">
                                                        <div class="ant-col ant-col-xs-12 ant-col-sm-12 ant-col-md-12 ant-col-lg-12"><input placeholder="Tên người nhận" class="ant-input box-input undefined" type="text" value=""></div>
                                                        <div id="last" class="ant-col ant-col-xs-12 ant-col-sm-12 ant-col-md-12 ant-col-lg-12"><input placeholder="Số điện thoại" class="ant-input box-input undefined" type="text" value=""></div>
                                                        <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24 ant-col-lg-24">
                                                            <div class="ant-select ant-select-auto-complete global-search ant-select-single ant-select-customize-input ant-select-show-search" style="width: 100%; margin-top: 5px;">
                                                                <div class="ant-select-selector"><span class="ant-select-selection-search"><input autocomplete="off" placeholder="Địa chỉ" type="search" class="ant-input box-input ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_15_list" aria-autocomplete="list" aria-controls="rc_select_15_list" aria-activedescendant="rc_select_15_list_0" value="" id="rc_select_15"></span><span class="ant-select-selection-placeholder"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div type="flex" class="ant-row ant-row-space-between box-row" style="margin-top: 5px;">
                                                        <div class="ant-col ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8">
                                                            <div class="ant-select ant-select-single ant-select-allow-clear ant-select-show-arrow ant-select-show-search" reffunc="[object Object]" style="width: 100%;">
                                                                <div class="ant-select-selector"><span class="ant-select-selection-search"><input type="search" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_16_list" aria-autocomplete="list" aria-controls="rc_select_16_list" aria-activedescendant="rc_select_16_list_0" value="" id="rc_select_16"></span><span class="ant-select-selection-placeholder">Tỉnh thành phố</span></div><span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;"><span role="img" aria-label="down" class="anticon anticon-down ant-select-suffix"><svg viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                        </svg></span></span>
                                                            </div>
                                                        </div>
                                                        <div class="ant-col ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8">
                                                            <div class="ant-select ant-select-single ant-select-allow-clear ant-select-show-arrow ant-select-show-search" reffunc="[object Object]" style="width: 100%;">
                                                                <div class="ant-select-selector">
                                                                    <span class="ant-select-selection-search">
                                                                        <input type="search" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_17_list" aria-autocomplete="list" aria-controls="rc_select_17_list" aria-activedescendant="rc_select_17_list_0" value="" id="rc_select_17">
                                                                    </span>
                                                                    <span class="ant-select-selection-placeholder">Quận huyện</span>
                                                                </div>
                                                                <span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="ant-col ant-col-xs-8 ant-col-sm-8 ant-col-md-8 ant-col-lg-8">
                                                            <div class="ant-select ant-select-single ant-select-allow-clear ant-select-show-arrow ant-select-show-search" reffunc="[object Object]" style="width: 100%;">
                                                                <div class="ant-select-selector">
                                                                    <span class="ant-select-selection-search">
                                                                        <input type="search" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_18_list" aria-autocomplete="list" aria-controls="rc_select_18_list" aria-activedescendant="rc_select_18_list_0" value="" id="rc_select_18">
                                                                    </span>
                                                                    <span class="ant-select-selection-placeholder">Phường xã</span>
                                                                </div>
                                                                <span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <div>
                                            <section class="box-shipping">
                                                <div class="box-order-title flex-space-between">
                                                    <div class="box-meta">
                                                        <div class="box-icon">

                                                        </div>
                                                        <div>Vận chuyển</div>
                                                    </div>
                                                    <span class="ant-input-group ant-input-group-compact partner-select" style="width: fit-content;">
                                                        <div class="ant-select ant-select-single ant-select-allow-clear ant-select-show-arrow" style="max-width: 150px; min-width: 100px;">
                                                            <div class="ant-select-selector">
                                                                <span class="ant-select-selection-search">
                                                                    <input type="search" autocomplete="off" class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_19_list" aria-autocomplete="list" aria-controls="rc_select_19_list" aria-activedescendant="rc_select_19_list_0" readonly="" unselectable="on" value="" id="rc_select_19" style="opacity: 0;">
                                                                </span>
                                                                <span class="ant-select-selection-placeholder">Đơn vị VC</span>
                                                            </div>
                                                            <span class="ant-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;"></span>
                                                        </div>
                                                    </span>
                                                </div>
                                                <div style="padding: 4px 16px 16px;">
                                                    <div>
                                                        <div style="margin: 12px 0px;">
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                        <div style="display: flex;"><input placeholder="Mã vận đơn" class="ant-input box-input undefined" type="text" value="" style="flex: 1 1 0%; margin-right: 5px;">
                                                            <div class="box-input-number-wrapper  " style="cursor: text;"><span class="ant-input-prefix"><span class="pos-placeholder">Phí</span></span>
                                                                <div class="ant-input-number input-format-number" style="height: 32px; border: 0px;">
                                                                    <div class="ant-input-number-handler-wrap"><span unselectable="on" role="button" aria-label="Increase Value" class="ant-input-number-handler ant-input-number-handler-up"><span role="img" aria-label="up" class="anticon anticon-up ant-input-number-handler-up-inner"><svg viewBox="64 64 896 896" focusable="false" data-icon="up" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                                </svg></span></span><span unselectable="on" role="button" aria-label="Decrease Value" class="ant-input-number-handler ant-input-number-handler-down"><span role="img" aria-label="down" class="anticon anticon-down ant-input-number-handler-down-inner"><svg viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                                                </svg></span></span></div>
                                                                    <div class="ant-input-number-input-wrap"><input role="spinbutton" aria-valuemin="-9007199254740991" aria-valuemax="9007199254740991" aria-valuenow="0" class="ant-input-number-input" autocomplete="off" max="9007199254740991" min="-9007199254740991" step="100" id="765f-a4d9-fb72-20eb-60b4-e4c0-fc5e" value="0"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-order-status">
                    <div style="font-size: 16px;">
                        <div>Tổng số tiền: <span style="font-weight: 500;">0 ₫</span></div>
                        <div>COD: <span style="color: rgb(235, 87, 87); font-weight: 500;">0 ₫</span></div>
                    </div>
                    <div style="display: flex;"><button type="button" class="ant-btn ant-btn-warning btn-clone-order" style="border: 1px solid rgb(0, 162, 174); color: rgb(0, 162, 174); flex: 1 1 0%; cursor: pointer;"><span role="img" aria-label="plus" class="anticon anticon-plus"><svg viewBox="64 64 896 896" focusable="false" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                   
                                </svg></span><span>Tạo đơn trùng lặp</span></button>
                        <div class="status-info" style="background: rgb(0, 162, 174); margin-right: 8px; margin-left: 8px;">Mới</div><span id="order-action-button" class="order-action-button" style="margin-right: 8px;"><button type="button" class="ant-btn ant-btn-primary" style="font-size: 14px; height: 100%; background: rgb(250, 173, 20); border-color: rgb(250, 173, 20);"><span><span role="img" aria-label="printer" class="anticon anticon-printer">
                      </span> In</span></button>
                            <div id="order-print-div"></div>
                            <div></div>
                        </span><span id="order-action-button" class="order-action-button">
                      <button type="button" class="ant-btn ant-btn-primary" style="font-size: 14px; height: 100%;"><span><span role="img" aria-label="save" class="anticon anticon-save"><svg viewBox="64 64 896 896" focusable="false" data-icon="save" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                        </svg></span> Lưu</span></button>
                            <div></div>
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>