<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WSSM</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css} " />
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.0/css/all.min.css} " />
        <link th:rel="stylesheet" th:href="@{/webjars/metisMenu/3.0.7/metisMenu.min.css} " />
        <link th:rel="stylesheet" th:href="@{/css/main.min.css} " />
    </head>
    <body style="background-image: linear-gradient(to right, #8360c3, #2ebf91);">
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" href="#"><h3>WSSM</h3></a>
                <a class="btn btn-primary" th:href="@{/login}">Đăng nhập</a>
            </div>
        </nav>
        
        <div style="display: flex; justify-content: center; margin: 200px;">
            <span style="font-size: 5rem; font-weight: 600;">Hệ thống quản lý kho và bán hàng</span>
        </div>
        
        <!-- Bootstrap core JS-->
        <script th:src="@{/webjars/jquery/3.6.1/jquery.js}"></script> 
        <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/metisMenu/3.0.7/metisMenu.min.js}"></script>
        <script th:src="@{/js/app.min.js}"></script>
    </body>
</html>
