<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>[[${pageTitle}]]</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <th:block th:include="fragments/assets :: assets"></th:block>
</head>



<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- HEADER AND SIDEBAR -->
        <div th:replace="~{fragments/header.html :: header}"></div>
        <div th:replace="~{fragments/sidebar.html :: sidebar}"></div>

		<!-- START TOOLBAR -->
        <div class="tools-container">
            <div>
                <div style="display: inline-block;">
                    <button type="button" class="btn-tools" id="btnCreate">
                        <span><i class="fa-solid fa-plus"></i></span>
                    </button>
                </div>

                <button type="button" class="btn-tools" id="btnClear">
                    <i class="fa-solid fa-rotate"></i>
                    <span>Tải lại</span>
                </button>

                <div id="action-tools" style="display: inline-block;">
                    <span style="display: inline-block;">
                        <div style="display: inline-block;">
                            <button type="button" class="btn-tools" id="multi_delete">
                                <i class="fa-solid fa-trash"></i>
                                <span>Xóa</span>
                            </button>
                        </div>
                    </span>
                </div>

                <div class="filter">
                    <div>
                        <button id="btn-filter" tabindex="0" type="button" class="btn-tools">
                            <i class="fa-solid fa-filter"></i>
                            <span>Thêm lọc</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TOOLBAR -->
        <!-- PAGE CONTENT -->
        <div class="content-wrapper">
            

            <div class="table-container">
                <table class="table table-hover table-responsive-xl" id="customerTable">
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                            <th>Id</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <th:block th:include="fragments/modal :: toast-modal"></th:block>
        <div th:replace="~{customer/customer-form.html :: modal}"></div>
        
        <!-- FOOTER -->
        <div th:replace="~{fragments/footer.html :: footer}"></div>
    </div>

     <!-- BEGIN PAGA BACKDROPS-->
     <div class="sidenav-backdrop backdrop"></div>
     <div class="preloader-backdrop">
         <div class="page-preloader">Loading</div>
     </div>
     <!-- END PAGA BACKDROPS-->
    <!-- SCRIPT -->
    <script th:src="@{/js/customer.js}"></script>
</body>

</html>